

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'M PLUS 1p', sans-serif;
  background: #000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 10;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.fill {
  color: white;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1.5px white;
  font-weight: 700;
}


#countdown {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button {
  background-color: #006699;
  border: none;
  padding: 12px 24px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #004466;
}
